<!-- HTML5 code snippets for copy/paste -->

<!-- Links -->
<a href="url">link text</a>

<!-- Images -->
<img src="url" alt="if image is not shown">

<!-- Tables -->
<!--
    Atrributes:
    colspan
    rowspan
    Note:
    If caption tag is used, the <caption> tag must be inserted immediately after the <table> tag.
 -->
<table style="width:100%">
 <tr>
   <th>Firstname</th>
   <th>Lastname</th>
   <th>Age</th>
 </tr>
</table>

<!-- Video -->
<video width height controls autoplay>
  <source src="#" type="video/mp4">
  <source src="#" type="video/ogg">
  Your browser does not support HTML5 video.
</video>

<!--
    A block-level element always starts on a new line and takes up the full
    width available (stretches out to the left and right as far as it can).

    Block level elements in HTML:
-->
<address> <article> <aside> <blockquote> <canvas> <dd> <div> <dl> <dt>
<fieldset> <figcaption> <figure> <footer> <form> <h1> <h6> <header>
<hr> <li> <main> <nav> <noscript> <ol> <p> <pre> <section> <table>
<tfoot> <ul> <video>

<!--
    An inline element does not start on a new line and only takes up as much
    width as necessary.

    Inline elements in HTML:
 -->
<a> <abbr> <acronym> <b> <bdo> <big> <br> <button> <cite> <code> <dfn> <em> <i>
<img> <input> <kbd> <label> <map> <object> <output> <q> <samp> <script> <select>
<small> <span> <strong> <sub> <sup> <textarea> <time> <tt> <var>
